@import 'mixins';

$popup-width: 520px;
$gutter: 15px;

$paper: #f6f3ef;
$grey-light: #f2f2f2;
$grey-lightish: #e6e6e6;
$grey: #dcdcda;

$bold: #72c29b;
$boldish: #60aa85;
$bold-dark: #47834b;

$bold-alt: #a4a875;

$link: #393999;