.tabs {
  @include clearfix();
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  li {
    float: left;
    width: 33%;
    text-align: center;
    background-color: $grey-lightish;
    padding: 5px 0;
    color: #888;
    cursor: pointer;
    &.active {
      cursor: default;
      weight: bold;
      color: black;
      background-color: $paper;
    }
  }
}

.tab-panels {
  padding-bottom: 1em;
  @include clearfix();
  .panel {
    display: none;
    padding: 1em;
    &.active {
      display: block;
      background-color: $paper;
    }
  }


}

