@import 'init';

.highlight {
  background-color: #ff0;
}

body#bias {
  @import 'tabs';
  
  padding: 0;
  margin: 0;
  width: $popup-width;
  background-color: $paper;
  a {
    color: $link;
  }

  .author {}
  .row {
    clear: both;
    margin: 0.25em 0;
  }
  .field-title,
  .field-value {
    float: left;
  }
  .field-title {
    width: 25%;
    color: #666;
  }
  .field-value {
    width: 75%;
    #color: #222;
  }


  /* Sparkline */

  .sparkline {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
  }
  .sparkcircle {
    fill: #f00;
    stroke: none;
  }
  .twitter-sparkline div {
    display: inline-block;
  }
  .retweets {
    color: #f00;
  }

  /* Author */
  #author-container {
    @include clearfix();
  }
  .break {
    clear: both;
    height: 1px;
    background-color: #e6e6e6; //$bold-alt;
    margin: 2em 0;
    border: none;
  }
  .publisher,
  .author {

    .row {
      margin: 1em 0;
    }

    .label {
      color: #999;
      font-size: 0.9em;
    }

    .profile {
      width: 40%;
      float: left;
      .author-photo {
        width: 175px;
        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
      .name {
        font-size: 18px;
        margin: 0.5em 0 0;
      }
      .twitter {}
    }

    .profile-text {
      float: left;
      width: 60%;
    }

  }

  .publisher {
    .column-first {
      float: left;
      margin-right: 35px;
      margin-left: 88px;
      width: 75px;
    }
    .column-second {
      float: left;
      width: 170px;
    }

    .logo img {
      width: 75px;
      height: auto;
    }
  }

  .author-recent {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      span.date {
        color: #aaa;
      }
    }
  }

}

