<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link href="styles/main.css" rel="stylesheet">
  <!-- endbuild -->
</head>
<body id="bias">
<ul class="tabs">
  <li  data-panel="tab-analysis">Analysis</li>
  <li data-panel="tab-author">Author</li>
  <li class="active" data-panel="tab-audience">Audience</li>
</ul>

<div class="tab-panels">

  <!-- Analysis -->
  <div class="tab-analysis panel ">
    
    <table>

      <tr>
        <td>
          <h2>Flagged Key Words</h2>
    <div class = "byline row">
    We have detected key words that may suggest bias, including the following:
  </div>
    <ul class="potent-words">
      <li>arguably</li>
      <li>quite</li>
      <li>claimed</li>
      <li>surprisingly</li>
      <li>considered</li>
    </ul>
    Click below to highlight all key terms. <br><br>
    <div style="width:200px; text-align: center">
      <button id="button" >Highlight Weasel Words</button>
    </div>
    </td>

    <td style="border-left:solid 1px #d3d3d3; padding: 15px; text-align:center">
      
      <div style="width: 165px" >
    <h2 style="text-align: left">Sentiment Analysis</h2>
    <div style="text-align: left">
      Compare the sentiment of the language used in this piece against other news media articles on the same topic.<br><br><br>
      <div class="label" style="text-align: left"><font color="#333333">Related Articles:</font></div>
      
        <a  href="http://www.aljazeera.com/indepth/opinion/2014/11/opec-age-climate-change-201411289461527196.html">Deaths reported in China 'terrorist attack'</a> <span class="date">Al Jazeera</span>
            <br>
          <a href="http://www.aljazeera.com/indepth/opinion/profile/greg-muttitt--.html">15 die in attack in rebellious Chinese region despite increased security</a> <span class="date">Columbus Dispatch</span>
      </div>
  </div>
    </td>
    <td>
      <div>

      <table>
        <tr>
         
       
          <td style="text-align:center"><br>This Article<br><br>
            <font color="#001031"><div>
              <p class="this-sentiment" style="position: absolute; bottom: -30px; font-size:36px" >→</p>
          <img src="data/photos/barometer.jpg" style="border-radius: 15px"></img></font>
        </div>
        </td>
        <td style="text-align:center; padding: 10px">Others on the Topic<br><br>
          <div><font color="#001031">
            <p class="this-sentiment" style="position: absolute; text-align: right; bottom: 60px; right: 20px; font-size:36px" >  →</p></font>
          <img src="data/photos/barometer.jpg" style="border-radius: 15px; text-align:center;" ></img>
        </div>
        </div>
        </td>
      </tr>
      </table>
    </div>
    </td>
  </tr>
    
  </table>

  </div>

  <!-- Author -->
  <div class="panel tab-author">
    <div id="author-container"></div>
    <hr class="break"/>
    <div id="publisher-container"></div>
  </div>

  <!-- Audience -->
  <div class="tab-audience panel active">

    <h2>Audience</h2>

    <div id="map-container"></div>

  </div>

</div>

<script id="template-author" type="text/template">
  <div class="author">

    <div class="profile">
      <div class="author-photo"><img src="<%= photo %>" /></div>
      <h3 class="name"><%= author %></h3>
      <div class="twitter"><a href="https://twitter.com/<%= twitter.username %>">@<%= twitter.username %></a></div>
    </div>

    <div class="profile-text">

      <div class="twitter-sparkline row">
        <div class="spark-tweets"></div>
        <span class="retweets"></span>
        <span class="label">retweets today</span>
      </div>

      <div class="byline row">
        <div class="label">Twitter bio:</div>
        <%= twitter.bio %>
      </div>

      <% if (affiliations.aljazeera) { %>
      <div class="byline row">
        <div class="label">Al-Jazeera bio:</div>
        <%= affiliations.aljazeera.bio %>
      </div>

      <div class="author-recent row">
        <div class="label">Al-Jazeera history:</div>
        <ul>
          <li><a href="http://www.aljazeera.com/indepth/opinion/2014/11/opec-age-climate-change-201411289461527196.html">OPEC in
            the age of climate change</a> <span class="date">28 Nov 2014</span></li>
          <li><a href="http://www.aljazeera.com/indepth/opinion/profile/greg-muttitt--.html">Mission accomplished for Big Oil?</a> <span class="date">31 Aug 2012</span></li>
        </ul>
      </div>
      <% } %>

      <% if (affiliations.nytimes) { %>
      <div class="byline row">
        <div class="label">New York Times bio:</div>
        <%= affiliations.nytimes.bio %>
      </div>

      <div class="author-recent row">
        <div class="label">New York Times history:</div>
        <ul>
          <li><a href="http://www.aljazeera.com/indepth/opinion/2014/11/opec-age-climate-change-201411289461527196.html">OPEC in
            the age of climate change</a> <span class="date">28 Nov 2014</span></li>
          <li><a href="http://www.aljazeera.com/indepth/opinion/profile/greg-muttitt--.html">Mission accomplished for Big Oil?</a> <span class="date">31 Aug 2012</span></li>
        </ul>
      </div>
      <% } %>

    </div>

  </div>
</script>
<script id="template-publisher" type="text/template">
  <div class="publisher">
    <div class="column-first">
      <div class="logo"><img src="<%= Logo %>" /></div>
      <h3 class="name"><a href="<% Domain %>"><%= Name %></a></h3>
    </div>
    <div class="column-second">
      <div class="byline row">
        <div class="label">Slogan:</div>
        <%= Slogan %>
      </div>
      <div class="byline row">
        <div class="label">Launched:</div>
        <%= Launched %>
      </div>
      <div class="byline row">
        <div class="label">Country:</div>
        <%= Country %>
      </div>
      <div class="byline row">
        <div class="label">Funded by:</div>
        <%= FundedBy %>
      </div>
      <div class="byline row">
        <div class="label">Owner:</div>
        <%= Owner %>
      </div>
    </div>
  </div>
</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/topojson/topojson.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/popup.js -->
<!-- http://www.aljazeera.com/indepth/opinion/2014/11/opec-age-climate-change-201411289461527196.html -->
<script src="scripts/author.js"></script>
<script src="scripts/audience.js"></script>
<script src="scripts/popup.js"></script>
<!-- endbuild -->
</body>

</html>
